extends base.pug

block style 
    style
        include ../static/style.css

block content
    Section#introSection
        h1 This is our About Page.
        
    
    section#missionSection
        h1 Section - 1 