extends base.pug

block style 
    style
        include ../static/style.css
        include ../static/contactStyle.css
        

block content
    Section#introSection
        h1 This is our Contact Page.
        
    
    section#missionSection
        h1 Contact Form
        div#container 
            div#form-container
                form(action="" method="post" id="contact-form") 
                    h2= message